.logo {
  width: 60%;
  height: auto;
  float: left;
  margin-left: 40%;
}

.menu li {
  background-color: white;
  position: relative;
  top: 70px;
  list-style: none;
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 10px;
  margin-left: 25px;
  border: 1px solid;
  padding: 3px;
  font-size: 20px;
  transition: all 0.5s;
}
.menu li:hover {
  text-decoration: underline;
  border: 2px solid;
  padding: 0.5px;
  background-color: rgb(0, 155, 0);
  color: white;
  box-shadow: 5px 4px 9px 1px rgb(128, 0, 0);
}
.menu a {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}
.menu a:hover {
  color: white;
}
.menu .activo {
  text-decoration: underline;
  background-color: rgb(0, 155, 0);
  color: white;
}

.footer {
  position: static;
  margin-top: 30px;
  bottom: 0;
  background-color: rgb(0, 155, 0);
  color: white;
  padding: 10px;
  height: 100px;
}
.footer img {
  margin-left: 250px;
  width: 5%;
}
.footer p {
  position: relative;
  text-align: center;
  bottom: 65px;
}

.icono-footer img {
  width: 2%;
  height: auto;
  float: right;
}
.icono-footer li {
  position: relative;
  right: 1%;
  bottom: 100px;
  list-style: none;
  bottom: 65px;
}

.footer-mobile {
  position: relative;
  display: flex;
  background-color: rgb(0, 155, 0);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer-mobile img {
  width: 30%;
  display: block;
}

.icono-footer-mobile li {
  width: 15%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.whatsapp img {
  width: 2%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.eslogan {
  width: 100%;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(0, 155, 0);
  color: white;
  padding: 10px;
}
.eslogan h1, .eslogan h2 {
  position: relative;
  text-align: center;
}

.sabores p {
  position: relative;
  background-color: rgb(0, 155, 0);
  font-size: 20px;
  color: white;
  width: 50%;
  min-width: 300px;
  margin-left: 25%;
  box-shadow: 5px 4px 9px 1px rgb(128, 0, 0);
}
.sabores img {
  width: 40%;
  margin-left: 25%;
  min-width: 300px;
}
.sabores h3 {
  background-color: rgb(0, 155, 0);
  color: white;
  text-align: center;
  width: 25%;
  min-width: 200px;
  margin-top: 30px;
}
.sabores li {
  list-style: none;
  color: white;
  background-color: rgb(2, 118, 0);
  padding: 5px;
  max-width: fit-content;
  box-shadow: 9px 7px 7px 0px rgb(128, 0, 0);
}

@media (min-width: 992px) {
  .sabores .derecha {
    margin-left: 20%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .sabores .derecha {
    margin-left: 15%;
  }
}
.donde-encontrarnos p {
  background-color: rgb(0, 155, 0);
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  box-shadow: 5px 4px 9px 1px rgb(128, 0, 0);
}
.donde-encontrarnos .pedidos p {
  all: unset;
  font-size: 20px;
}

.sobre-nosotros p {
  height: 100%;
  background-color: rgb(0, 155, 0);
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-top: 3%;
  box-shadow: 5px 4px 9px 1px rgb(128, 0, 0);
}
.sobre-nosotros img {
  width: 60%;
  margin-top: 3%;
}
.sobre-nosotros form input {
  position: relative;
  border: 1px solid black;
  width: 200px;
  transition: all 0.5s;
}
.sobre-nosotros form input:focus {
  border: 2px solid black;
  width: 300px;
  box-shadow: 5px 4px 9px 1px rgb(128, 0, 0);
}

.consulta p {
  position: relative;
  all: unset;
  background-color: rgb(0, 155, 0);
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 4px 9px 1px rgb(128, 0, 0);
}

.carrusel {
  margin-top: 150px;
}

.destacados h3 {
  position: relative;
  margin-top: 70px;
  background-color: rgb(0, 155, 0);
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  min-width: 200px;
  box-shadow: 5px 4px 9px 1px rgb(128, 0, 0);
}
.destacados img {
  display: inline-block;
  width: 50%;
  min-width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
}
.destacados a {
  text-align: center;
  position: relative;
  background-color: white;
  color: black;
  border: 1px solid;
  padding: 20px;
  text-decoration: none;
  width: 10%;
  height: 10%;
  min-width: 120px;
  min-height: 60px;
  margin-left: 45%;
}
.destacados a:hover {
  color: white;
  background-color: rgb(0, 155, 0);
}

.pipa h3 {
  position: relative;
  margin-top: 70px;
  background-color: rgb(0, 155, 0);
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  min-width: 120px;
  min-height: 60px;
  box-shadow: 5px 4px 9px 1px rgb(128, 0, 0);
}
.pipa img {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
  min-width: 200px;
  height: auto;
}
.pipa a {
  text-align: center;
  position: relative;
  background-color: white;
  color: black;
  border: 1px solid;
  padding: 20px;
  text-decoration: none;
  width: 10%;
  height: 10%;
  min-width: 120px;
  margin-left: 45%;
}
.pipa a:hover {
  color: white;
  background-color: rgb(0, 155, 0);
}

@media (max-width: 768px) {
  .footer,
  .icono-footer {
    display: none;
  }
  .eslogan {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .whatsapp {
    display: none;
  }
}
@media (min-width: 768px) {
  .logo {
    min-width: 125px;
  }
  .eslogan,
  .footer {
    min-width: 1068px;
  }
  .footer-mobile p,
  .footer-mobile img {
    display: none;
  }
  .icono-footer-mobile {
    display: none;
  }
}
