@import './utils/variables';
@import './utils/global';
@import './components/menu';
@import './components/footer';
@import './components/eslogan';
@import './views/sabores';
@import './views/productos';
@import './views/donde-encontrarnos';
@import './views/sobre-nosotros';
@import './views/index';









@media (max-width: 768px) {

  .footer,
  .icono-footer {
    display: none;
  }

  .eslogan {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .whatsapp {
    display: none;
  }

  
 

}

@media (min-width: 768px) {
  .logo {
    min-width: 125px;
  }

  .eslogan,
  .footer {
    min-width: 1068px;
  }

  .footer-mobile {

    p,
    img {
      display: none;
    }
  }

  .icono-footer-mobile {
    display: none;
  }

  
}