.eslogan {
    width: 100%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: $verde;
    color: white;
    padding: 10px;
  
    h1, h2 {
      position: relative;
      text-align: center;
    }
  }

  @media (max-width: 768px) {

    .eslogan {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  
    .whatsapp {
      display: none;
    }
  
  }