.footer {
  position: relative;
  margin-top: 30px;
  width: 100%;
  background-color: $verde;
  color: white;
  padding: 10px;
  height: 100px;


  img {
    margin-left: 10%;
    width: 5%;
  }

  p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
  }
}

.icono-footer {
  img {
    width: 2%;
    height: auto;
    float: right;
  }

  li {
    position: relative;
    right: 1%;
    bottom: 100px;
    list-style: none;
    bottom: 65px;
  }
}

.footer-mobile {
  position: relative;
  display: flex;
  background-color: rgb(0, 155, 0);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;

  img {
    width: 30%;
    display: block;
  }
}

.icono-footer-mobile li {
  width: 15%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.whatsapp img {
  width: 2%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 768px) {

  .footer,
  .icono-footer {
    display: none;
  }
}

@media (min-width: 768px) {



  .footer-mobile {

    p,
    img {
      display: none;
    }
  }

  .icono-footer-mobile {
    display: none;
  }

}