.carrusel {
    margin-top: 150px;
  }
  
  .destacados {
    h3 {
      position: relative;
      margin-top: 70px;
      background-color: $verde;
      color: white;
      text-align: center;
      width: 50%;
      margin-left: 25%;
      min-width: 200px;
      box-shadow: 5px 4px 9px 1px rgba(128, 0, 0, 1);
    }
  
    img {
      display: inline-block;
      width: 50%;
      min-width: 150px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 100px;
      
    }
  
    a {
      text-align: center;
      position: relative;
      background-color: white;
      color: black;
      border: 1px solid;
      padding: 20px;
      text-decoration: none;
      width: 10%;
      height: 10%;
      min-width: 120px;
      min-height: 60px;
      margin-left: 45%;
      
  
      &:hover {
        color: white;
        background-color: $verde;
      }
    }
  }
  
  
  .pipa {
    h3 {
      position: relative;
      margin-top: 70px;
      background-color: $verde;
      color: white;
      text-align: center;
      width: 50%;
      margin-left: 25%;
      min-width: 120px;
      min-height: 60px;
      box-shadow: 5px 4px 9px 1px rgba(128, 0, 0, 1);
    }
  
    img {
      width: 50%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 25%;
      min-width: 200px;
      height: auto;
    }
  
    a {
      text-align: center;
      position: relative;
      background-color: white;
      color: black;
      border: 1px solid;
      padding: 20px;
      text-decoration: none;
      width: 10%;
      height: 10%;
      min-width: 120px;
      margin-left: 45%;
  
      &:hover {
        color: white;
        background-color: $verde;
      }
    }
  }