.producto {
  h3 {
    position: relative;
    margin-top: 70px;
    margin-bottom: 20px;
    background-color: $verde;
    color: white;
    text-align: center;
    width: 50%;
    min-width: 200px;
    box-shadow: 5px 4px 9px 1px rgba(128, 0, 0, 1);
  }

  p {
    position: relative;
      background-color: $verde-oscuro;
      font-size: 20px;
      color: white;
      width: 50%;
      min-width: 250px;
      padding: 10px;
      box-shadow: 5px 4px 9px 1px rgba(128, 0, 0, 1);
  }

  img {
    width: 40%;
    min-width: 350px;
    margin-bottom: 20px;
}
}

.general {
  margin-top: 20px;
  margin-left: 25%;
  box-shadow: 5px 4px 9px 1px rgba(128, 0, 0, 1);
}

@media (max-width: 768px) {

  .producto {
  h3 {
    margin-left: 25%;
  }

  p {
    margin-left: 25%;
  }

  img {
    margin-left: 25%;
  }
}
}