.sabores {
    p {
        position: relative;
        background-color: $verde;
        font-size: 20px;
        color: white;
        width: 50%;
        min-width: 300px;
        margin-left: 25%;
        box-shadow: 5px 4px 9px 1px rgba(128, 0, 0, 1);
    }

    img {
        width: 40%;
        margin-left: 25%;
        min-width: 300px;
    }

    h3 {
        background-color: $verde;
        color: white;
        text-align: center;
        width: 25%;
        min-width: 200px;
        margin-top: 30px;
    }

    li {
        list-style: none;
        color: white;
        background-color: $verde-oscuro;
        padding: 5px;
        max-width: fit-content;
        box-shadow: 9px 7px 7px 0px rgba(128, 0, 0, 1);
    }


}

@media (min-width: 992px) {
    .sabores {
        .derecha {
            margin-left: 20%;
        }

    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .sabores {
        .derecha {
            margin-left: 10%;
        }

    }
}